
:root {
    --border-img: url("border.png");
    --bg-color: black;
    --font-color: #E8E0FF;
    --font-size: calc(1rem + (.5vw / 5));
}

a { color: #FFD1F7 }
a:hover { color: var(--font-color); }

p { padding-left: 2em; }

body {
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

ul { list-style: "🍇 — "; }
li { margin-bottom: 1em; }

main {
    border-image: var(--border-img)  28 fill /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
    color: var(--font-color);
    font-family: sans-serif;

    display: block;
    margin: auto;
    width: calc(50% - 2em);
    padding: 1em;
}

header {
    text-align: center;
}

header p {
    padding: 0px;
    margin-top: 0px;
}

h1 { margin-bottom: 0px; }


textarea {
    max-width: 90%;
    margin: auto;
    display: block;
}

code {
    background: #00000077;
    font-family: monospace;
    padding: 2px 5px;
}

.ads {
    list-style: "";
    padding: 0px;
    margin: 0px;
}

.ads p {
    padding: 0px;
}

.ads img {
    aspect-ratio: 6 / 1;
    width: 100%;
}

@media only screen and (max-width: 900px)  {
    main {
        width: calc(90% - 2em);
    }
}

@media only screen and (max-width: 1300px)  {
    main {
        width: calc(80% - 2em);
    }
    iframe {
        width: 95% !important;
        height: auto !important;
    }
}
